extends ../layout

block content
    .row
        .col-sm-8
            h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add New Product
    table.table
        thead
            tr
                th Name
                th Price
                th Actions
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.price
                    td
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                        a(href="/products/cart/"+product._id, class="btn btn-info") Add To Cart