#second {
  background-color: black;
  color: white;
  position: relative;
  top: 40px;
  z-index: 1;
}
#third p {
  background-color: yellow;
  z-index: 2000;
  position: relative;
}

#announcement {
  background-color: yellow;
  position: fixed;
  bottom: 0;
  right: 0;
}
#stick {
  position: sticky;
  top: 0;
  background-color: thistle;
  z-index: 1000;
}
#abs {
  background-color: tomato;
  color: white;
  position: absolute;
  top: 10px;
  left: -5px;
}
#first {
  position: relative;
}
