html
    head
        title My First Pug
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        ul#topMenu
            li
                a(href="/") Home
            li
                a(href="/contactus") Contact Us
        hr
        block content
        hr
        block footer